/********Navbar********/
#header-nav {
  background-color: #008B8B;
  border-radius: 0;
  margin-bottom: 0;
  border: 0;

}

.navbar-header .navbar-brand {
  color:white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: .75;
}



#colapsed-menu{
  text-align: center;
  margin-top: 0;
  border-top: 1px solid #008b8b;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #222;
}

.collapse ul li{
  border: 1px solid #222;
}
#chicken, #beef {
  border-bottom: 0;
}
#chicked{
  border-top: 1px;
}
.row{
  text-align: center;
  background-color: #222; 
  color: white;
}
h1{
  text-align: center;
}