
header{
  box-sizing: border-box; 
  padding-right: 0;
  width: 100%;
  
}

/********Navbar-header********/
#header-nav {
  background-color: #008B8B;
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
 
}
.navbar-header .navbar-brand {
  color:white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: .75; 
}
#colapsed-menu a{
  color: white;
}
#colapsed-menu a:hover{
  color: #222;
}

#colapsed-menu{
  text-align: center;
  margin-top: 0;
  border-top: 1px solid #008b8b;
  background-color: #828282; 
 
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #222;
}

.navbar-collapse{
  border-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  position:relative;
}
.collapse ul li{
  border: 1px solid white;
  
}

#chicken, #beef {
  border-bottom: 0;
  
}
/********Navbar-header-END********/

/********Content********/
p{
  color: white;
}
h1{
  text-align: center;
  color: #454747;
  font-size: 1.75em;
  font-weight: bold;
}
.row {
width: 100%;

}
.pTitle {
  width: 100%;
  position: relative;
  padding: 1px;
  text-align: center;
  font-size: 1.8em;
  background-color: #008b8b;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.pContent {
  background-color: #008b8b;
  padding: 35px 10px 5px 10px ;
  text-align: justify;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
  height: 700px;
  font-size: .94em;
}
body{
  margin-left: 15px;
  margin-right: 15px;
}
.pContent a{
  color: #454747;
  text-align: center;
  font-size: .8em;

}
.pContent a:hover, .pContent a:focus {
  text-decoration: none;
  text-shadow: 1px 1px 1px #222;
}
/********Content-END********/